<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circuit Puzzle Tool</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/images/favicon.jpg"/>
    <script src="../static/js/pixi.min.js"></script>
    <script src="../static/js/jquery-3.6.0.min.js"> </script>
    <script src = 'https://pagecdn.io/lib/mathjs/11.0.1/math.min.js'></script>
    <link rel="stylesheet" href="../static/src/Stylesheets/styleLevel1.css">


</head>
<body>
<div>
<script type="module" src="../static/src/app.js"> </script>
<div class="fade-in-text">
    <p>Level 1</p>
</div>
</div>

</body>
</html>